cmd
_examples
_examples/*
_examples/**
*.db
.drone.yml
cmd
plugin
shared
model
config

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the Investigo
*.txt

### Go Patch ###
/vendor/
/Godeps/

### VisualStudioCode ###
.vscode/settings.json
.vscode/launch.json
.DS_Store
/data/
