### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the Investigo
*.txt

### Go Patch ###
/vendor/
/Godeps/

### VisualStudioCode ###
.vscode/*
.DS_Store

# Screenshots
/Investigo/

# Downloads
/Downloads/

Dockerfile.chromium-v2
Dockerfile.chromium
Dockerfile.robot